# System
venv
*.pyc
*.zip
.DS_Store
*.sqlite3
*.rdb
.coverage
.cache
coverage

# Settings
local_settings.py
deploy_settings.py
deploy_settings.sh

# Static, media and libs
static/
libs/
node_modules
media/

# Camomilla plugins (remove this line in your project)
plugin_*

# Logs
error_logs.log

# Sockets
*.socket
