include LICENSE
include README.md
recursive-include camomilla/theme/static *
recursive-include camomilla/theme/templates *
recursive-include camomilla/templates *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
