git+https://git@github.com/lotrekagency/django-hvad.git@master#egg=django-hvad
git+https://git@github.com/lotrekagency/djsuperadmin.git@master#egg=djsuperadmin
git+https://git@github.com/lotrekagency/djlotrek.git@master#egg=djlotrek

djangorestframework==3.10.0
Pillow==6.2.0
sqlparse==0.3.0
django-ckeditor==5.7.1
djangorestframework-jwt
