{% load i18n staticfiles %}

<div class="mediasortedm2m-container">

    <p class="selector-filter">
        <img src="{% static "mediasortedm2m/selector-search.gif" %}" alt="" title="{% trans "Type into this box to filter down the list." %}" />
        <input type="text" placeholder="{% trans "Filter" %}" />
    </p>
    <ul class="mediasortedm2m-items">
    {% for row in selected %}
        <li class="mediasortedm2m-item"><img src="{{row.thumb_url}}" width='50' height='50' /><label{{ row.label_for|safe }}>{{ row.rendered_cb }} {{ row.option_label }}</label></li>
    {% endfor %}

    {% for row in unselected %}
        <li class="mediasortedm2m-item"><img src="{{row.thumb_url}}" width='50' height='50' /><label{{ row.label_for|safe }}>{{ row.rendered_cb }} {{ row.option_label }}</label></li>
    {% endfor %}
    </ul>

    <p class="help">
        {% trans "Choose items and order by drag & drop." %}
    </p>

</div>
